body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin-bottom: 100px;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
h1{
    text-align:center;
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
.header{
    background: #1d1e20;
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    display: block;
    padding: 10px;
}
/*CSS FLEXBOX 1 */

.flex{
    display: flex; /* POSICIONA TUDO EM FILEIRA */
    flex-wrap: wrap; /* HABILITA A QUEBRA DDE LINHA */
    max-width: 800px; /*TAMANHO DAS IMGS*/
    margin: 0 auto; /* ALINHA TUDO NO CENTRO */
}
.flex > div{
    flex: 1 1 200px; /* 2 COLUNAS COM O TAMANHO DA IMAGEN */
    margin: 0 10px; /* 10PX LEFT/RIGHT */
}

/*CSS GRIDLAYOUT 1*/

.grid1{
    display:grid; /*  */
    grid-template-columns: repeat(3, 1fr); /* CRIA 3 COLUNAS */
    max-width: 800px; /* TAMANHO MAXIMO DA IMAGEN */
    padding: 10px; /* 10PX TODOS OS LADOS DA IMG */
    margin: 0 auto; /* ALINHA TUDO NO CENTRO */
    grid-gap: 20px; /* MARGEM EM VOLTA DA IMG */
}
.grid1 > div:nth-child(n + 4){
    display: grid; /*  */
    grid-template-columns: 1fr 1fr; /* CRIA 2 COLUNAS */
    grid-gap: 10px; /* MARGEM EM VOLTA DA IMG */
    align-items: center; /* ALINHA TUDO QUE ESTIVER DEESALINHADO */
}
.grid1 > div.anuncio{
    grid-column: 1; /* POSIÇÃO DA IMG */
    grid-row: 2/5; /* POSIÇÃO DA IMG */
    display: block; /* TIRA A CONFIGURAÇÃO PADRÃO DA DIV */
}
@media(max-width: 600px){
    .grid1{
        grid-template-columns: 1fr 1fr; /* TRANSFORMA TUDO EM 2 COLUNAS */
    }
    .grid1 > div:nth-child(n + 4){
        display: block; /* TIRA A CONFIGURAÇÃO PADRÃO DA DIV */
    }
    .grid1 > div.anuncio{
        grid-column: auto; /* PREENCHE OS ESPAÇOS EM BRANCO AUTO */
        grid-row: auto; /* PREENCHE OS ESPAÇOS EM BRANCO AUTO */
        order: -1; /* ALTERA A ORDEM DA IMG */
    }
}
/*CSS GRIDLAYOUT 2*/
.grid2{
    display:grid; /*  */
    grid-template-columns: 1fr 200px; /* 1 COLUNA COM A IMG NO TAMANHO DE 200PX */
    grid-gap: 20px; /* MARGEM EM VOLTA DA IMG */
    max-width: 800px; /* TAMANHO MAXIMO DA IMG */
    padding: 10px; /* 10PX TODOS OS LADOS DA IMG */
    margin: 0 auto; /* ALINHA TUDO NO CENTRO */
}
.sidebar > div{
    margin-bottom: 10px; /* 10PX NO BOTTOM */
}
@media (max-width:600px) {
    .grid2{
        grid-template-columns: 1fr; /* TRANSFORMA TUDO EM 1 COLUNA SÓ */
    }
    .sidebar{
        display: flex; /* POSICIONA TUDO EM FILEIRA */
        overflow: scroll; /* CRIA UMA BARRRA DE SCROLL */
    }
    .sidebar > div{
        flex: 1 0 200px; /* TAMANHO DA IMG SEM PERDER A CONFIGURAÇÃO BASE */
        margin: 0 10px; /* 10PX LEFT/RIGHT */
    }
}